body {
    padding: 0;
    margin: 0;
}

.mdui-container {
    min-height: calc(100vh - 2em - 32px);
}

footer {
    border-top: 1px solid #d1d5da;
    margin-top: 16px;
    padding: 8px 45px 8px 45px;
}

@media (max-width: 767px) {
    footer {
        padding: 8px 16px 8px 16px;
        margin: 0;
        margin-top: 16px;
    }
}

footer a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #959da5;
}

#md-footer-box {
    height: 2em;
    align-items: center;
}

.footer-logo {
    height: 2em;
    width: 2em;
    float: right;
}