body {
    padding: 0;
    margin: 0;
}

.mdui-container {
    padding-left: 0;
    padding-right: 0;
    min-height: calc(100vh - 2em - 32px);
}

.mdui-container-fluid {
    padding-left: 0;
    padding-right: 0;
    min-height: calc(100vh - 2em - 32px);
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        margin: 0;
        padding: 4px 16px 4px 16px;
    }
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 16px;
    padding: 8px 45px 8px 45px;
}

#source-link {
    color: rgba(0, 0, 0, 0.63);
}

@media (max-width: 767px) {
    footer {
        padding: 8px 16px 8px 16px;
        margin: 0;
        margin-top: 16px;
    }
}

footer a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #959da5;
}

#md-footer-box {
    height: 2em;
    align-items: center;
}

.footer-logo {
    height: 2em;
    width: 2em;
    float: right;
}