<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Storage Redirect</title>

    <link rel="apple-touch-icon" sizes="57x57" href="./icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./icon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/mdui/0.4.1/css/mdui.min.css">
    <link href="../css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.loli.net/ajax/libs/mdui/0.4.1/js/mdui.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .mdui-tab .mdui-tab-active {
            color: #ff4081;
        }

        .mdui-tab-indicator {
            background-color: #ff4081;
        }

        @media (min-width: 200px) {
            .header-intro-text {
                text-align: center;
            }

            .intro-tab-text {
                padding: 0 0 0 0;
            }
        }

        @media (min-width: 600px) {
            .header-intro-text {
                text-align: center;
            }

            .intro-tab-text {
                padding: 0 32px 0 32px;
            }
        }

        @media (min-width: 1024px) {
            .header-intro-text {
                text-align: start;
            }

            .intro-tab-text {
                padding: 0 32px 0 32px;
            }
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div id="app">
        <!-- Header bar -->
        <div class="mdui-container-fluid mdui-shadow-6 mdui-theme-primary-white mdui-theme-accent-pink">
            <div class="mdui-toolbar">
                <div class="mdui-toolbar-spacer"></div>
                <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#languages-menu'}" mdui-tooltip="{content: 'Other language', position: 'left'}">
                    <i class="mdui-icon material-icons">translate</i>
                </a>
                <ul class="mdui-menu" id="languages-menu">
                    <li class="mdui-menu-item" v-bind:disabled="isLang('en')">
                        <a v-on:click="changeLangTo('en')" v-bind:class="{'mdui-ripple':!isLang('en')}">English</a>
                    </li>
                    <li class="mdui-menu-item" v-bind:disabled="isLang('zh-CN')">
                        <a v-on:click="changeLangTo('zh-CN')" v-bind:class="{'mdui-ripple':!isLang('zh-CN')}">中文（简体）</a>
                    </li>
                    <li class="mdui-menu-item" v-bind:disabled="isLang('zh-TW')">
                        <a v-on:click="changeLangTo('zh-TW')" v-bind:class="{'mdui-ripple':!isLang('zh-TW')}">中文（繁體）</a>
                    </li>
                </ul>
            </div>
            <div class="mdui-row">
                <div class="mdui-col-offset-lg-1 mdui-col-lg-4 mdui-col-sm-4 mdui-col-xs-12">
                    <img id="sr-logo" class="mdui-center" style="margin: 20px 0; max-width: 200px;" alt="Logo" src="./images/logo.png" />
                </div>
                <div class="mdui-col-lg-7 mdui-col-sm-8 mdui-col-xs-12" style="padding: 0 10px 0 10px;">
                    <div class="mdui-typo">
                        <template v-if="isLang('en')">
                            <h1 class="mdui-typo-title header-intro-text">Storage Redirect</h1>
                            <h5 class="mdui-m-y-1 header-intro-text">Redirect app files to correct location. Give you a clean external storage.</h5>
                        </template>
                        <template v-if="isLang('zh-CN')">
                            <h1 class="mdui-typo-title header-intro-text">存储重定向</h1>
                            <h5 class="mdui-m-y-1 header-intro-text">将应用们产生的文件重定向到正确的位置，还原纯净的外部储存空间。</h5>
                        </template>
                        <template v-if="isLang('zh-TW')">
                            <h1 class="mdui-typo-title header-intro-text">儲存重新導向</h1>
                            <h5 class="mdui-m-y-1 header-intro-text">將程式們產生的檔案重新導向至正確的位置，還原純淨的外置儲存空間。</h5>
                        </template>
                    </div>
                    <div class="button-container header-intro-text" style="padding: 20px 0 20px 0;">
                        <div class="mdui-center">
                            <a href="https://play.google.com/store/apps/details?id=moe.shizuku.redirectstorage" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">
                                <i class="mdi mdi-google-play"></i> Google Play</a>

                            <template v-if="isLang('en')">
                                <button id="version-select" mdui-menu="{target: '#more-downloads-menu'}" class="mdui-btn mdui-btn-raised mdui-ripple ">
                                    <i class="mdi mdi-download"></i> Alternative ways
                                </button>
                                <ul class="mdui-menu" id="more-downloads-menu" style="text-align: start;">
                                    <li class="mdui-menu-item">
                                        <a href="https://www.coolapk.com/apk/202927" class="mdui-ripple">Coolapk Market</a>
                                    </li>
                                    <li class="mdui-menu-item">
                                        <a mdui-dialog="{target: '#github-releases-dialog'}" class="mdui-ripple">GitHub Releases
                                        </a>
                                    </li>
                                </ul>
                            </template>
                            <template v-if="isLang('zh-CN')">
                                <button id="version-select" mdui-menu="{target: '#more-downloads-menu'}" class="mdui-btn mdui-btn-raised mdui-ripple ">
                                    <i class="mdi mdi-download"></i> 其它渠道
                                </button>
                                <ul class="mdui-menu" id="more-downloads-menu" style="text-align: start;">
                                    <li class="mdui-menu-item">
                                        <a href="https://www.coolapk.com/apk/202927" class="mdui-ripple">酷安市场</a>
                                    </li>
                                    <li class="mdui-menu-item">
                                        <a mdui-dialog="{target: '#github-releases-dialog'}" class="mdui-ripple">GitHub Releases
                                        </a>
                                    </li>
                                </ul>
                            </template>
                            <template v-if="isLang('zh-TW')">
                                <button id="version-select" mdui-menu="{target: '#more-downloads-menu'}" class="mdui-btn mdui-btn-raised mdui-ripple ">
                                    <i class="mdi mdi-download"></i> 其它渠道
                                </button>
                                <ul class="mdui-menu" id="more-downloads-menu" style="text-align: start;">
                                    <li class="mdui-menu-item">
                                        <a href="https://www.coolapk.com/apk/202927" class="mdui-ripple">酷安市集</a>
                                    </li>
                                    <li class="mdui-menu-item">
                                        <a mdui-dialog="{target: '#github-releases-dialog'}" class="mdui-ripple">GitHub Releases
                                        </a>
                                    </li>
                                </ul>
                            </template>
                        </div>
                    </div>

                    <div class="mdui-dialog" id="github-releases-dialog">
                        <div class="mdui-dialog-title" v-if="isLang('en')">Download from GitHub Releases</div>
                        <div class="mdui-dialog-title" v-if="isLang('zh-CN')">从 GitHub Releases 上下载</div>
                        <div class="mdui-dialog-title" v-if="isLang('zh-TW')">从 GitHub Releases 上下载</div>
                        <div class="mdui-dialog-content">
                            <template v-if="isWeixin()">
                                <p>微信用户请点击右上角的菜单选择使用其它浏览器打开再下载。</p>
                            </template>
                            <template v-else>
                                <div class="mdui-typo-body-2-opacity" v-if="isLang('en')">Select ABI:</div>
                                <div class="mdui-typo-body-2-opacity" v-if="isLang('zh-CN')">选择 ABI：</div>
                                <div class="mdui-typo-body-2-opacity" v-if="isLang('zh-TW')">選擇 ABI：</div>
                                <select id="arch-select" class="mdui-select" mdui-select="{position: 'bottom'}">
                                    <option value="armeabi-v7a">ARM-v7a</option>
                                    <option value="arm64-v8a">ARM64-v8a</option>
                                    <option value="x86">x86</option>
                                    <option value="x86_64">x86_64</option>
                                </select>
                                <br>
                                <br>
                                <template v-if="isLang('en')">
                                    <p>
                                        <div class="mdui-typo-body-2">How to select version?</div>
                                    </p>
                                    <p>Different Android handsets use different CPUs, which support different instruction sets.
                                        Each combination of CPU and instruction sets has its own ABI. Please select the corresponding
                                        apk file according to your device's ABI.
                                    </p>
                                    <p>
                                        <div class="mdui-typo-caption">* If you are using Samsung S7 Edge, you must use ARM-v7a version.</div>
                                    </p>
                                </template>
                                <template v-if="isLang('zh-CN')">
                                    <p>
                                        <div class="mdui-typo-body-2">如何选择版本？</div>
                                    </p>
                                    <p>不同 Android 设备使用不同的 CPU，因此支持不同的指令集。CPU 与指令集的每种组合都有其自己的 ABI。请根据你的设备的 ABI 选择对应的安装包。
                                    </p>
                                    <p>
                                        <div class="mdui-typo-caption">* 如果你正在使用 Samsung S7 Edge，你必须使用 ARM-v7a 版本。</div>
                                    </p>
                                </template>
                                <template v-if="isLang('zh-TW')">
                                    <p>
                                        <div class="mdui-typo-body-2">如何選擇版本？</div>
                                    </p>
                                    <p>不同 Android 裝置使用不同的 CPU，因此支援不同的指令集。CPU 與指令集的每種組合都有其自己的 ABI。請根據你的裝置的 ABI 選擇對應的安裝包。
                                    </p>
                                    <p>
                                        <div class="mdui-typo-caption">* 如果你正在使用 Samsung S7 Edge，你必須使用 ARM-v7a 版本。</div>
                                    </p>
                                </template>
                                <br>
                                <br>
                            </template>
                        </div>
                        <div class="mdui-dialog-actions">
                            <template v-if="isLang('en')">
                                <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>Cancel</button>
                                <button v-on:click="startDownloadGitHubReleases()" v-if="!isWeixin()" class="mdui-btn mdui-ripple" mdui-dialog-confirm>OK
                                </button>
                            </template>
                            <template v-if="isLang('zh-CN')">
                                <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>取消</button>
                                <button v-on:click="startDownloadGitHubReleases()" v-if="!isWeixin()" class="mdui-btn mdui-ripple" mdui-dialog-confirm>确定
                                </button>
                            </template>
                            <template v-if="isLang('zh-TW')">
                                <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>取消</button>
                                <button v-on:click="startDownloadGitHubReleases()" v-if="!isWeixin()" class="mdui-btn mdui-ripple" mdui-dialog-confirm>確認
                                </button>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-bar" class="mdui-tab mdui-m-t-4" style="margin-left: 0;" mdui-tab>
                <a v-for="tab in tabs" v-bind:href="tab.href" class="mdui-ripple mdui-ripple-pink">{{ tab.title }}</a>
            </div>
        </div>
        <!-- Pages -->
        <div class="mdui-container-fluid mdui-typo mdui-theme-primary-white mdui-theme-accent-pink">

            <!-- Introduction tab -->
            <div id="tab-intro" class="mdui-p-a-0">
                <div class="mdui-row mdui-color-blue-grey mdui-p-a-4">
                    <div class="mdui-col-offset-xl-2 mdui-col-xl-2 mdui-col-offset-lg-2 mdui-col-lg-2 mdui-col-offset-md-1 mdui-col-md-3 mdui-col-sm-4 mdui-col-xs-12 mdui-p-a-1">
                        <img width="200px" class="mdui-center" src="./images/image1.png" />
                    </div>
                    <div class="intro-tab-text mdui-col-xl-6 mdui-col-lg-6 mdui-col-md-7 mdui-col-sm-8 mdui-col-xs-12 mdui-p-y-1">
                        <template v-if="isLang('en')">
                            <div class="mdui-typo-display-1">Bring back tidy storage</div>
                            <div class="mdui-typo-body-1 mdui-m-t-2">
                                Folders created by the specified app will only appear in its private storage space. You won't be annoyed by messy folders
                                when browsing files or transferring data to PC. Enjoy a pleasing experience!
                                <br>
                                <br> Basic requirement:
                                <ul>
                                    <li>Android 6.0 and above</li>
                                    <li>Root permission
                                        <b>(Require SuperSU, Magisk SU or Lineage OS's AddonSU)</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdui-typo-caption-opacity mdui-m-t-4">
                                * Files created by Android's download manager API cannot be redirected.
                                <br>* Free users can redirect up to 3 apps
                            </div>
                        </template>
                        <template v-if="isLang('zh-CN')">
                            <div class="mdui-typo-display-1">带回清爽的存储空间</div>
                            <div class="mdui-typo-body-1 mdui-m-t-2">
                                指定应用创建的文件夹将只会出现在至其私有存储空间中。使用各种文件管理器和连接电脑传输数据时不再被杂乱的文件夹烦扰，提供更加赏心悦目的体验。
                                <br>
                                <br> 基本设备需求：
                                <ul>
                                    <li>Android 6.0 或以上</li>
                                    <li>Root 权限
                                        <b>（只支持 SuperSU、Magisk SU 和 Lineage OS 的 AddonSU）</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdui-typo-caption-opacity mdui-m-t-4">
                                * 使用 Android 标准 “下载管理器” 接口下载的文件无法重定向
                                <br>* 未付费用户最多三个应用
                            </div>
                        </template>
                        <template v-if="isLang('zh-TW')">
                            <div class="mdui-typo-display-1">帶回清爽的儲存空間</div>
                            <div class="mdui-typo-body-1 mdui-m-t-2">
                                指定程式建立的資料夾將只會出現在至其私有儲存空間中。使用各種檔案管理器和連線電腦傳輸資料時不再被雜亂的資料夾煩擾，提供更加賞心悅目的體驗。
                                <br>
                                <br> 基本裝置需求：
                                <ul>
                                    <li>Android 6.0 或以上</li>
                                    <li>Root 權限
                                        <b>（只支援 SuperSU、Magisk SU 和 Lineage OS 的 AddonSU）</b>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdui-typo-caption-opacity mdui-m-t-4">
                                * 使用 Android 標準 “下載管理器” 介面下載的檔案無法重定向
                                <br>* 未付費使用者最多三個程式
                            </div>
                        </template>
                    </div>
                </div>

                <div class="mdui-row mdui-color-white mdui-p-a-4">
                    <div class="intro-tab-text mdui-col-offset-xl-2 mdui-col-xl-6 mdui-col-offset-lg-2 mdui-col-lg-6 mdui-col-offset-md-1 mdui-col-md-7 mdui-col-sm-8 mdui-col-xs-12 mdui-p-y-1">
                        <template v-if="isLang('en')">
                            <div class="mdui-typo-display-1">Move user-saved documents to correct location</div>
                            <div class="mdui-typo-body-1 mdui-m-t-2">
                                After redirecting files to private storage space, Storage Redirect will move user-saved documents and media to standard public
                                directories according to settings. Everyone can contribute to app redirecting rules. After
                                commits are approved and added into official repository, all users can get a better configuration
                                and determine what to enable by themselves.
                            </div>
                        </template>
                        <template v-if="isLang('zh-CN')">
                            <div class="mdui-typo-display-1">纠正主动保存的文档目录</div>
                            <div class="mdui-typo-body-1 mdui-m-t-2">
                                重定向文件到单独空间后，Storage Redirect 会根据设定将用户主动保存的文档与媒体存至规范的公共目录。每个人都可以贡献应用的重定向规则，经审核加入官方规则列表后，所有用户都可以获得较佳的配置方案，再根据自身需求进行选择是否使用。
                            </div>
                            <div class="mdui-typo-caption-opacity mdui-m-t-4">
                                * 未来会提供本地规则
                            </div>
                        </template>
                        <template v-if="isLang('zh-TW')">
                            <div class="mdui-typo-display-1">糾正主動保存的檔案目錄</div>
                            <div class="mdui-typo-body-1 mdui-m-t-2">
                                重新導向檔案至獨立空間後，Storage Redirect 會根據設定將使用者主動保存的檔案與媒體存至規範的公共目錄。每個人都可以貢獻程式的重新導向規則，經審核加入官方規則清單後，所有使用者都可以取得較佳的配置方案，再根據自身需求進行選擇是否使用。
                            </div>
                        </template>
                    </div>
                    <div class="mdui-col-xl-2 mdui-col-lg-2 mdui-col-md-3 mdui-col-sm-4 mdui-col-xs-12 mdui-p-a-1">
                        <img width="200px" class="mdui-center" src="./images/image2.png" />
                    </div>
                </div>

                <div class="mdui-row mdui-color-yellow-100 mdui-p-a-4">
                    <div class="mdui-col-offset-xl-2 mdui-col-xl-2 mdui-col-offset-lg-2 mdui-col-lg-2 mdui-col-offset-md-1 mdui-col-md-3 mdui-col-sm-4 mdui-col-xs-12 mdui-p-a-1">
                        <img width="200px" class="mdui-center" src="./images/image3.png" />
                    </div>
                    <div class="intro-tab-text mdui-col-xl-6 mdui-col-lg-6 mdui-col-md-7 mdui-col-sm-8 mdui-col-xs-12 mdui-p-y-1">
                        <template v-if="isLang('en')">
                            <div class="mdui-typo-display-1">Monitor apps' file records</div>
                            <div class="mdui-typo-body-1 mdui-m-t-2">
                                After enhance module is installed, file opertions of apps can be monitored. For example, you can find out whether apps access
                                public directories correctly or read users' private data.
                            </div>
                            <div class="mdui-typo-caption-opacity mdui-m-t-4">
                                * Currently we only provide the Magisk version of Enhancement module
                                <br>* Only available to paid users
                            </div>
                            <br>
                            <button onclick="window.location = 'https://rikka.app/storage_redirect/docs/zh-CN/?doc=%E5%A2%9E%E5%BC%BA%E6%A8%A1%E5%9D%97'"
                                class="mdui-btn mdui-color-white mdui-btn-raised mdui-ripple">Learn more
                            </button>
                        </template>
                        <template v-if="isLang('zh-CN')">
                            <div class="mdui-typo-display-1">监控应用的文件操作</div>
                            <div class="mdui-typo-body-1 mdui-m-t-2">
                                安装增强模块后可以监控应用的文件操作，得知已安装的应用在运行过程有什么行为，例如有没有正确地存取公共目录、是否读取用户隐私文件。
                            </div>
                            <div class="mdui-typo-caption-opacity mdui-m-t-4">
                                * 增强模块目前仅提供 Magisk 版
                                <br>* 仅开放给付费用户
                            </div>
                            <br>
                            <button onclick="window.location = 'https://rikka.app/storage_redirect/docs/zh-CN/?doc=%E5%A2%9E%E5%BC%BA%E6%A8%A1%E5%9D%97'"
                                class="mdui-btn mdui-color-white mdui-btn-raised mdui-ripple">了解更多
                            </button>
                        </template>
                        <template v-if="isLang('zh-TW')">
                            <div class="mdui-typo-display-1">監視程式的檔案操作</div>
                            <div class="mdui-typo-body-1 mdui-m-t-2">
                                安裝增強模組啟用后可以監視程式的檔案操作，得知已安裝的程式在運作過程有什麼行為，例如有沒有正確地存取公共目錄、是否讀取使用者隱私檔案。
                            </div>
                            <div class="mdui-typo-caption-opacity mdui-m-t-4">
                                * 增強模組目前僅提供 Magisk 版
                                <br>* 僅開放給付費使用者
                            </div>
                            <br>
                            <button onclick="window.location = 'https://rikka.app/storage_redirect/docs/zh-CN/?doc=%E5%A2%9E%E5%BC%BA%E6%A8%A1%E5%9D%97'"
                                class="mdui-btn mdui-color-white mdui-btn-raised mdui-ripple">了解更多
                            </button>
                        </template>
                    </div>
                </div>
            </div>


            <!-- Changelog tab -->
            <div id="tab-changelog" class="mdui-p-a-2">
                <div class="mdui-panel" mdui-panel>

                    <div v-for="(history, index) in versionHistories" class="mdui-panel-item mdui-col-offset-lg-2 mdui-col-lg-8 mdui-col-offset-sm-1 mdui-col-sm-10 mdui-col-xs-12"
                        v-bind:class="{ 'mdui-panel-item-open' : (index == 0) }">
                        <div class="mdui-panel-item-header">
                            <div class="mdui-panel-item-title">{{ history.title }}</div>
                            <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                        </div>
                        <div class="mdui-panel-item-body">
                            <ul>
                                <li v-for="item in history.contents">{{ item }}</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


            <!-- Links tab -->
            <div id="tab-links" class="mdui-p-a-2">

                <div v-for="(link, index) in relativeLinks" class="mdui-card mdui-col-offset-lg-3 mdui-col-lg-6 mdui-col-offset-sm-1 mdui-col-sm-10 mdui-col-xs-12 mdui-ripple mdui-hoverable"
                    v-bind:class="{'mdui-m-t-2' : (index != 0), 'mdui-m-b-4' : (index == (relativeLinks.length - 1)) }" v-on:click="goTo(link.url)">
                    <div class="mdui-card-media mdui-col-xs-3">

                    </div>
                    <div class="mdui-col-xs-9">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">{{ link.title }}</div>
                            <div class="mdui-card-primary-subtitle">{{ link.summary }}</div>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        var translation_data = {
            'en': {
                tabs: [
                    { title: 'Introduction', href: '#tab-intro' },
                    { title: 'Changelog', href: '#tab-changelog' },
                    { title: 'Relative links', href: '#tab-links' }
                ],
                versionHistories: [
                {
                        title: '1.0.0-rc4',
                        contents: [
                            'Add manually set /data/media path for some special devices',
                            'Fix bug when import online rule'
                        ]
                    },
                    {
                        title: '1.0.0-rc3',
                        contents: [
                            'Fix Android/data can be chosen as a "Non-redirect folder"',
                            'Bug fix'
                        ]
                    },
                    {
                        title: '1.0.0-rc1',
                        contents: [
                            'New theme',
                            'New detail UI',
                            'Add local link rule',
                            'Multi-user support',
                            'Fix backup bug, but backup files created before 1.0.0-rc1 is unavailable',
                            'Try to detect real internal storage path'
                        ]
                    },
                    {
                        title: '0.18.2',
                        contents: [
                            'Fix bug'
                        ]
                    },
                    {
                        title: '0.18.0',
                        contents: [
                            '"Non-redirect folder" (old "Standard folder") is now customizable like "Redirect target folder"',
                            'Add Backup & restore',
                            'Works with LineageOS\'s addonsu, but some non-core feature may break, still recommended to use Magisk',
                            'Fix crash when change filter in the main list',
                            'Fix redirected files may not be moved when change redirect target folder in some cases'
                        ]
                    },
                    {
                        title: '0.17.4',
                        contents: [
                            'Fix link feature not on some (old? special?) devices',
                            'Try to fix owner of linked files\' is 0 on older Android system (chown ourselves)',
                        ]
                    },
                    {
                        title: '0.17.3',
                        contents: [
                            'Fix a critical bug that if an app\'s redirect target is set different from the default, it will not able to access files in public folders',
                            'Fix others bugs in 0.17.x'
                        ]
                    },
                    {
                        title: '0.17.1',
                        contents: [
                            'Add set redirect target folder (globally and pre-app)',
                            'Add app installed notification',
                            'Also kill by uid when force stop package (for OnePlus stock ROM)',
                            'Improved "Share helper"',
                            'Bug fix'
                        ]
                    },
                    {
                        title: '0.16.4',
                        contents: [
                            'Add file stat for Redirect storage viewer',
                            'Fix the problem that anyone is displayed as purchased',
                            'Auto clean old server files',
                            'Try to "fix" IAP problem "You have already own this item"',
                            'Link files from target to source when enabling link rules'
                        ]
                    },
                    {
                        title: '0.16.2',
                        contents: [
                            'Enhanced File monitor: load more & filter by path / app',
                            'Force grant storage permission for redirected apps',
                            'Try to fix bug of link function (when create and delete files in a very short time)',
                            'Create ".nomedia" file in Android/data/xxx automatically',
                            'Add shortcut for File monitor (Android 7.1+)',
                            'Fix crash when open help if no browser app installed',
                            'Add more tips',
                            'Fix bugs in 0.16.1 / 0.16.2'
                        ]
                    },
                    {
                        title: '0.15.8',
                        contents: [
                            'Files downloaded by redirected apps can be managed in Android\'s Files (DocumentUI) app',
                            'Fix log parse (only some special ROM)',
                            'Add "Show disabled apps" filter',
                            'New app list style',
                            'In-app logcat now catches logs from more sources'
                        ]
                    },
                    {
                        title: '0.15.4',
                        contents: [
                            'Fix reboot when new file created in folders monitored by link function (only on 8.0)',
                            'Fix a bug of file monitoring function of the link function'
                        ]
                    }
                ],
                relativeLinks: [
                    {
                        title: 'Contribute app rules',
                        summary: 'Commit rules for unsupported apps / Correct outdated rules',
                        url: 'https://github.com/RikkaApps/StorageRedirect-assets/blob/master/CONTRIBUTION.md'
                    },
                    {
                        title: 'Help documentation',
                        summary: 'Learn how to use Storage Redirect & Frequently-asked questions',
                        url: 'https://rikka.app/storage_redirect/docs/en'
                    },
                    {
                        title: 'Join official Telegram group',
                        summary: 'Ask & discuss with others in RikkaApps official discussion group.',
                        url: 'https://t.me/RikkaUserGroup'
                    }
                ]
            },
            'zh-CN': {
                tabs: [
                    { title: '介绍', href: '#tab-intro' },
                    { title: '更新日志', href: '#tab-changelog' },
                    { title: '相关链接', href: '#tab-links' }
                ],
                versionHistories: [
                    {
                        title: '1.0.0-rc4',
                        contents: [
                            '为一些特别的机型设定 /data/media 路径',
                            '修复导入在线规则时的问题'
                        ]
                    },
                    {
                        title: '1.0.0-rc3',
                        contents: [
                            '修复了允许选择 Android/data 为 “非重定向文件夹” 的问题',
                            '修复了一些问题'
                        ]
                    },
                    {
                        title: '1.0.0-rc1',
                        contents: [
                            '新的主题',
                            '新的详情界面',
                            '新增本地链接规则',
                            '多用户支持',
                            '修复了备份还原问题，但在 1.0.0-rc1 版本前创建的备份文件将不可用',
                            '尝试自动检测真正的内部存储路径'
                        ]
                    },
                    {
                        title: '0.18.2',
                        contents: [
                            '修复了一些问题'
                        ]
                    },
                    {
                        title: '0.18.0',
                        contents: [
                            '“非重定向文件夹”（旧的 “标准文件夹”）现在可以像 “重定向目标文件夹” 一样允许自定义',
                            '新增备份还原功能',
                            '可以在 LineageOS 的 addonsu 下工作，但一些非核心功能会无法工作，因此仍旧推荐使用 Magisk',
                            '修复了在主界面列表中改变过滤条件时崩溃的问题',
                            '修复了某些情况下已被重定向的文件可能不会跟随重定向目标改变而移动的问题'
                        ]
                    },
                    {
                        title: '0.17.4',
                        contents: [
                            '修复了链接功能不能在某些（特殊）设备上运作的问题',
                            '尝试修复在旧版 Android 系统上被链接文件所有者（Owner）是 0 的问题'
                        ]
                    },
                    {
                        title: '0.17.3',
                        contents: [
                            '修复了一个严重的问题：如果一个应用的重定向目标不同于默认值时，该应用会无法访问非重定向文件夹下的文件。',
                            '修复了存在于 0.17.x 的一些问题'
                        ]
                    },
                    {
                        title: '0.17.1',
                        contents: [
                            '新增重定向目标文件夹设置（全局、分应用）',
                            '新增新应用安装通知',
                            '（为 OnePlus 原厂系统）同时按照 UID 强制杀死应用进程',
                            '改进了 “分享助手”',
                            '修复了一些问题'
                        ]
                    },
                    {
                        title: '0.16.4',
                        contents: [
                            'Add file stat for Redirect storage viewer',
                            'Fix the problem that anyone is displayed as purchased',
                            'Auto clean old server files',
                            'Try to "fix" IAP problem "You have already own this item"',
                            'Link files from target to source when enabling link rules'
                        ]
                    },
                    {
                        title: '0.16.2',
                        contents: [
                            'Enhanced File monitor: load more & filter by path / app',
                            'Force grant storage permission for redirected apps',
                            'Try to fix bug of link function (when create and delete files in a very short time)',
                            'Create ".nomedia" file in Android/data/xxx automatically',
                            'Add shortcut for File monitor (Android 7.1+)',
                            'Fix crash when open help if no browser app installed',
                            'Add more tips',
                            'Fix bugs in 0.16.1 / 0.16.2'
                        ]
                    },
                    {
                        title: '0.15.8',
                        contents: [
                            'Files downloaded by redirected apps can be managed in Android\'s Files (DocumentUI) app',
                            'Fix log parse (only some special ROM)',
                            'Add "Show disabled apps" filter',
                            'New app list style',
                            'In-app logcat now catches logs from more sources'
                        ]
                    },
                    {
                        title: '0.15.4',
                        contents: [
                            'Fix reboot when new file created in folders monitored by link function (only on 8.0)',
                            'Fix a bug of file monitoring function of the link function'
                        ]
                    }
                ],
                relativeLinks: [
                    {
                        title: '应用规则贡献',
                        summary: '为未支持的应用提交规则，纠正错误、过时的规则',
                        url: 'https://github.com/RikkaApps/StorageRedirect-assets/blob/master/CONTRIBUTION.md'
                    },
                    {
                        title: '使用帮助',
                        summary: '了解如何使用存储重定向以及常见问题的解决方法',
                        url: 'https://rikka.app/storage_redirect/docs/zh-CN'
                    },
                    {
                        title: '加入官方 Telegram 群组',
                        summary: '在 RikkaApps 官方交流群组中咨询问题、与其他用户交流使用技巧',
                        url: 'https://t.me/RikkaUserGroup'
                    }
                ]
            },
            'zh-TW': {
                tabs: [
                    { title: '介紹', href: '#tab-intro' },
                    { title: '更新日誌', href: '#tab-changelog' },
                    { title: '相關連結', href: '#tab-links' }
                ],
                versionHistories: [
                    {
                        title: '1.0.0-rc4',
                        contents: [
                            'Add manually set /data/media path for some special devices',
                            'Fix bug when import online rule'
                        ]
                    },
                    {
                        title: '1.0.0-rc3',
                        contents: [
                            'Fix Android/data can be chosen as a "Non-redirect folder"',
                            'Bug fix'
                        ]
                    },
                    {
                        title: '1.0.0-rc1',
                        contents: [
                            'New theme',
                            'New detail UI',
                            'Add local link rule',
                            'Multi-user support',
                            'Fix backup bug, but backup files created before 1.0.0-rc1 is unavailable',
                            'Try to detect real internal storage path'
                        ]
                    },
                    {
                        title: '0.18.2',
                        contents: [
                            'Fix bug'
                        ]
                    },
                    {
                        title: '0.18.0',
                        contents: [
                            '"Non-redirect folder" (old "Standard folder") is now customizable like "Redirect target folder"',
                            'Add Backup & restore',
                            'Works with LineageOS\'s addonsu, but some non-core feature may break, still recommended to use Magisk',
                            'Fix crash when change filter in the main list',
                            'Fix redirected files may not be moved when change redirect target folder in some cases'
                        ]
                    },
                    {
                        title: '0.17.4',
                        contents: [
                            'Fix link feature not on some (old? special?) devices',
                            'Try to fix owner of linked files\' is 0 on older Android system (chown ourselves)',
                        ]
                    },
                    {
                        title: '0.17.3',
                        contents: [
                            'Fix a critical bug that if an app\'s redirect target is set different from the default, it will not able to access files in public folders',
                            'Fix others bugs in 0.17.x'
                        ]
                    },
                    {
                        title: '0.17.1',
                        contents: [
                            'Add set redirect target folder (globally and pre-app)',
                            'Add app installed notification',
                            'Also kill by uid when force stop package (for OnePlus stock ROM)',
                            'Improved "Share helper"',
                            'Bug fix'
                        ]
                    },
                    {
                        title: '0.16.4',
                        contents: [
                            'Add file stat for Redirect storage viewer',
                            'Fix the problem that anyone is displayed as purchased',
                            'Auto clean old server files',
                            'Try to "fix" IAP problem "You have already own this item"',
                            'Link files from target to source when enabling link rules'
                        ]
                    },
                    {
                        title: '0.16.2',
                        contents: [
                            'Enhanced File monitor: load more & filter by path / app',
                            'Force grant storage permission for redirected apps',
                            'Try to fix bug of link function (when create and delete files in a very short time)',
                            'Create ".nomedia" file in Android/data/xxx automatically',
                            'Add shortcut for File monitor (Android 7.1+)',
                            'Fix crash when open help if no browser app installed',
                            'Add more tips',
                            'Fix bugs in 0.16.1 / 0.16.2'
                        ]
                    },
                    {
                        title: '0.15.8',
                        contents: [
                            'Files downloaded by redirected apps can be managed in Android\'s Files (DocumentUI) app',
                            'Fix log parse (only some special ROM)',
                            'Add "Show disabled apps" filter',
                            'New app list style',
                            'In-app logcat now catches logs from more sources'
                        ]
                    },
                    {
                        title: '0.15.4',
                        contents: [
                            'Fix reboot when new file created in folders monitored by link function (only on 8.0)',
                            'Fix a bug of file monitoring function of the link function'
                        ]
                    }
                ],
                relativeLinks: [
                    {
                        title: '應用程式規則貢獻',
                        summary: '為未支援的程式提交規則，糾正錯誤、過時的規則',
                        url: 'https://github.com/RikkaApps/StorageRedirect-assets/blob/master/CONTRIBUTION.md'
                    },
                    {
                        title: '使用幫助',
                        summary: '了解如何使用儲存重新導向及常見問題的解決方法',
                        url: 'https://rikka.app/storage_redirect/docs/zh-TW'
                    },
                    {
                        title: '加入官方 Telegram 群組',
                        summary: '在 RikkaApps 官方交流群組中咨詢問題、與其他使用者交流使用技巧',
                        url: 'https://t.me/RikkaUserGroup'
                    }
                ]
            }
        };

        var data = {
            goTo: function (url) {
                window.location = url;
            },
            changeLangTo: function (newLang) {
                data.tabs = translation_data[newLang].tabs;
                data.versionHistories = translation_data[newLang].versionHistories;
                data.relativeLinks = translation_data[newLang].relativeLinks;
                data.currentLang = newLang;

                setTimeout(function () {
                    var tabInst = new mdui.Tab('.mdui-tab');
                    tabInst.handleUpdate();
                }, 100);
            },
            isLang: function (lang) {
                return data.currentLang.indexOf(lang) === 0;
            },
            isWeixin: function () {
                return (typeof WeixinJSBridge !== "undefined");
            },
            startDownloadGitHubReleases: function () {
                if (data.isWeixin()) {
                    mdui.snackbar('请点击微信右上角菜单选择其它浏览器打开方可下载。');
                    return;
                }
                var selectedValue = document.getElementById('arch-select').value;
                var message;
                if (data.isLang('zh-CN')) {
                    message = "你选择了 " + selectedValue + " 架构的安装包，现在开始下载。";
                } else if (data.isLang('zh-TW')) {
                    message = "你選擇了 " + selectedValue + " 架構的安裝包，現在開始下載。";
                } else {
                    message = "You choose " + selectedValue + " arch's install package. Now start downloading...";
                }
                mdui.snackbar(message, { position: 'left-bottom' });
                mdui.JQ.ajax({
                    method: 'GET',
                    url: 'https://api.github.com/repos/RikkaApps/StorageRedirect-assets/releases/latest',
                    success: function (data) {
                        data = JSON.parse(data);
                        var assets = data.assets;
                        for (var i = 0; i < assets.length; i++) {
                            if (assets[i].name.indexOf(selectedValue + '.apk') !== -1) {
                                window.location = assets[i].browser_download_url;
                                break;
                            }
                        }
                    }
                });
            },

            currentLang: navigator.language,
            tabs: [],
            versionHistories: [],
            relativeLinks: []
        };

        var app = new Vue({
            el: '#app',
            data: data
        });
        if (!data.currentLang) {
            data.currentLang = navigator.browserLanguage;
        }
        if (data.currentLang.indexOf('en') === 0) {
            data.currentLang = 'en';
        }
        if (!data.isLang('en') && !data.isLang('zh-CN') && !data.isLang('zh-TW')) {
            data.currentLang = 'en';
        }
        data.changeLangTo(data.currentLang);

        function getElementLeft(element) {
            var actualLeft = element.offsetLeft;
            var current = element.offsetParent;
            while (current !== null) {
                actualLeft += (current.offsetLeft + current.clientLeft);
                current = current.offsetParent;
            }
            return actualLeft;
        }

        function updateTabsMargin() {
            if (mdui.JQ(window).width() > 600) {
                var logoLeft = getElementLeft(document.getElementById('sr-logo'));
                document.getElementById('tabs-bar').style.marginLeft = Math.max(0, logoLeft - 10) + 'px';
            } else {
                document.getElementById('tabs-bar').style.marginLeft = '0';
            }
        }

        window.onresize = function () {
            updateTabsMargin();
        };

        setTimeout(updateTabsMargin, 200);
    </script>
</body>

</html>